@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400, 700;
}

body {
    background-color: hsl(185, 75%, 39%);
}

.card {
    background-color: white;
    margin-top: -7em;
    margin-left: 22.3em;
    width: 20em;
    height: 21em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.card_header {
    width: 20em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.picture_container {
    height: 5em;
    width: 10em;
    background-color: white;
}

h3 {
    color: hsl(229, 23%, 23%);
}

p {
    color: hsl(227, 10%, 46%);
    font-size: small;
    margin-top: 5px;
}

a {
    color: hsl(227, 10%, 46%);
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    border: 1.4px solid hsla(227, 10%, 46%, 0.342);
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: white;
    padding-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.stats_content {
    text-align: center;
}

.card_picture {
    margin-top: -3em;
    border-radius: 5em;
    margin-left: 7em;
}

.name {
    text-align: center;
    margin-top: 2em;
}

.country {
    margin-top: 9px;
    font-size: medium;
}

img {
    display: flex;
}

.top {
    width: 33em;
    height: 33em;
    margin: -7em;
    margin-top: -8em;
}

.background {
    display: flex;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-left: -7em;
    margin-top: -42em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: small;
    text-decoration: none;
}

header,
footer {
    position: relative;
    top: 0;
    left: 0
}

header {
    z-index: 9;
}

footer {
    z-index: 8;
}

.bottom {
    width: 35em;
    height: 35em;
    margin-left: 36em;
    margin-top: -9em;
}

@media screen and (max-width:768px) {
    .card {
        width: 15em;
    }
    .card_header {
        width: 15em;
    }
    .card_picture {
        align-self: center;
        margin-left: 5em;
    }
    .top {
        margin-left: -23em;
        margin-top: -12em;
        width: 28em;
        height: 28em;
    }
    .bottom {
        margin-left: 13em;
        width: 15em;
        height: 19em;
    }
    .stats {
        margin-top: 2.9em;
    }
    header {
        margin-left: -19em;
    }
    .attribution {
        margin-top: -15em;
        margin-left: 1em;
    }
}